/*css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */
/* html {
  width: 100%;
  margin: 0 auto;
} */
body {
  background-color: #000000;
}
a {
  text-decoration: none;
  color: inherit;
}
.main-container {
  width: 100%;
}
.container {
  width: 100%;
}
.headbar {
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: #2e7773; /*primary color */
}
/*  #00bfa5 secondary color */
.sub-headbar {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
.headbar-item {
  width: 17%;
}
.header {
  text-align: center;
}
.links-div {
  display: flex;
  width: 17%;
  flex-direction: row;
  justify-content: space-between;
}
.video {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  padding-top: 3rem;
}

/* TIMER */
.timer {
  background-color: #000000; /*black */
  text-align: center;
}
#head {
  font-size: 2rem;
  color: white;
}
ul {
  display: flex;
}
li {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  color: white;
  display: block;
  font-size: 4.5rem;
}

/* TIMER END*/

.about {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 16rem;
}

.about-subdiv {
  display: flex;
  margin: 5rem 3%;
  align-items: center;
}
.about-item {
  display: flex;
  text-align: center;
}
.details {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  flex-direction: column;
}
.image {
  background-color: white;
  width: 25%;
  margin: 0 2%;
}
.images-1 {
  height: 11.5rem;
}
.images-2 {
  height: 11.5rem;
}
.image-1 {
  height: 11.5rem;
}
.image-2 {
  height: 5.5rem;
}
.image-7 {
  height: 5.5rem;
  align-self: flex-end;
}
.image-8 {
  height: 10rem;
  align-self: flex-end;
}
.image-3 {
  height: 8.5rem;
  align-self: flex-end;
}
.image-5 {
  height: 8.5rem;
}
.image-4 {
  height: 3rem;
  align-self: center;
}
.image-6 {
  height: 3rem;
}

.events {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}
.event-item {
  width: 20%;
  height: 24rem;
  background-color: white;
  margin: 2rem 1rem;
}
.hack-img {
  height: 24rem;
}
.hack-text {
  color: white;
  background-color: #000000;
}
.item-text {
  font-size: 1.5rem;
}
.sponsers {
  width: 95%;
  margin: 0 auto;
  height: 15rem;
  text-align: center;
  color: white;
  border: 1px solid blue;
  /* background-color: #00bfa5; */
}
.footer {
  width: 95%;
  color: white;
  margin: 2rem auto 0 auto;
  border: 1px solid red;
}
.footer-team {
  height: 3rem;
  color: white;
  border: 1px solid green;
  margin: 1rem auto 2rem auto;
}
