/*css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */
/* html {
  width: 100%;
  margin: 0 auto;
} */
body {
  background-color: #000000;
}
a {
  text-decoration: none;
  color: inherit;
}
.main-container {
  width: 100%;
}
.container {
  width: 100%;
}
.headbar {
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: black; /*primary color */
  border-bottom: 2px solid #323232;
}
/*  #00bfa5 secondary color */
.sub-headbar {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
.headbar-item {
  width: 17%;
}
.header {
  text-align: center;
}
.links-div {
  display: flex;
  width: 17%;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 6%;
}
.link {
  margin: 0 0.6rem;
}
.video {
  width: 100%;
  height: 400px;
  background-color: #323232;
  text-align: center;
  color: white;
  padding-top: 3rem;
  margin: 0 auto 10rem auto;
}

/* TIMER */
.timer {
  background-color: #000000; /*black */
  text-align: center;
}
#head {
  font-size: 3rem;
  color: white;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  color: white;
  display: inline-block;
  font-size: 1.2em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  width: 10%;
}

li span {
  color: white;
  display: block;
  font-size: 4rem;
}

/* TIMER END*/

.about {
  margin: 3rem auto 15rem auto;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 30rem;
}

.about-subdiv {
  display: flex;
  margin: 2rem 3%;
  align-items: flex-start;
}
.about-item {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.details {
  color: white;
  font-size: 2.5rem;
  text-align: left;
  flex-direction: column;
  margin: 0 2.5rem;
}
.image {
  background-color: white;
  width: 31%;
  margin: 0 1%;
}
.images-1 {
  height: 30rem;
}
.images-2 {
  height: 30rem;
}
.image-1 {
  height: 12.5rem;
}
.image-2 {
  height: 8rem;
}
.image-7 {
  height: 7.5rem;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}
.image-8 {
  height: 10rem;
  align-self: flex-end;
}
.image-3 {
  height: 8.5rem;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}
.image-5 {
  height: 13rem;
}
.image-4 {
  height: 8rem;
  align-self: center;
}
.image-6 {
  height: 8rem;
}
.image-9 {
  height: 12rem;
}
.image-10 {
  height: 9rem;
}
.image-11 {
  height: 11rem;
}
.image-12 {
  height: 14rem;
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #000000;
  margin: 12rem auto;
  color: white;
  font-size: 3.5rem;
}
.event-item {
  width: 20%;
  height: 24rem;
  background-color: white;
  color: black;
  margin: 2rem 1rem;
}
.hack-img {
  height: 24rem;
}
.hack-text {
  color: white;
  background-color: #000000;
}
.item-text {
  font-size: 1.5rem;
}
.sponsers {
  width: 95%;
  margin: 0 auto;
  margin-top: 10rem;
  height: 50rem;
  text-align: center;
  color: white;
  font-size: 3.5rem;
}
.sponser-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
}
.sponser-image {
  height: 14rem;
  width: 12%;
}
.microsoft {
  width: 30%;
}
.footer {
  width: 90%;
  text-align: center;
  color: white;
  font-size: 3.5rem;
  margin: 10rem auto 0 auto;
}
.venue {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}
.venue-info {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}
.venue-info-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: left;
  margin-top: 5.5rem;
  margin-left: 3rem;
  width: 60%;
  height: 15rem;
}
.loc-svg {
  height: 12rem;
  width: 8rem;
}
.map {
  width: 80%;
  height: 30rem;
  border-radius: 4px;
}
.footer-team {
  height: 3rem;
  color: white;
  font-size: 1.5rem;
  margin: 10rem auto 5rem auto;
}
.contact-svg {
  height: 4rem;
  width: 4rem;
}
